<phpunit backupGlobals="true" colors="true" bootstrap="../vendor/autoload.php">
	<php>
		<!-- the value is the FQCN of the application kernel -->
		<env name="KERNEL_CLASS" value="App\Kernel" />
	</php>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory>../src</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="../build/coverage" lowUpperBound="35" highLowerBound="70"/>
		<log type="coverage-clover" target="../build/logs/phpunit_clover.xml" />
	</logging>
	<testsuite name="cli">
		<directory>./</directory>
	</testsuite>
</phpunit>
